
<!-- si se muestra
  
  <div class="container">
  <img [src]="this.profileUrl | async" class="img-thumbnail img-fluid img-responsive" alt='imagen mascota.jpg'> 
</div> -->


<div class="container ">  
  
  <h3>Listado de Materias</h3>   
      
      <table class="table table-striped text-center table-dark ">
        <thead>
          <tr>   
            
            <th>Nombre</th>
            <th>Cuatrimestre</th>
            <th>Cupos</th>
            <th>Profesor</th>
          </tr>
        </thead>
        
        <tbody>

          <tr (click)='aDetalle(masc);' class="text-left" *ngFor = "let masc of this.misMaterias">    
           
            
            <td >{{masc.nombre}}</td>                          
            <td >{{masc.cuatrimestre}}</td>                          
            <td >{{masc.cupos}}</td>                          
            <td >{{masc.profesor}}</td>                          
           
            <!-- traer el filePath de la foto, crear storage.ref
              <td > <img src='' class="img-thumbnail img-fluid img-responsive" alt='imagen mascota.jpg' ></td>                           -->
          <tr>    
        </tbody>      
      </table>            
   
     
</div>

