<div class="container ">  
  
    <h3>Listado de Materias Inscriptas</h3>   
            
        <table class="table table-striped text-center table-dark ">
          <thead>
            <tr>   
              
              <th>Correo</th>
              <th>Materia</th>
              
            </tr>
          </thead>
          
          <tbody>
  
            <tr class="text-left" *ngFor = 'let usr of this.materias'>
              
              <td >{{usr.correo}}</td>                          
              <td >{{usr.materia}}</td>                          
                         
              <tr>
              
              
            <tr>    
          </tbody>      
        </table>            
     
       
  </div>
  
  